<table class="table table-hover" id="condicion_educativa_alumno_entity_table">
    <thead>
    <tr>
        <th>#</th>
        <th>CCts</th>
        <th>Número de alumnas</th>
        <th>Número de alumnos</th>
        <th>Grado</th>
    </tr>
    </thead>
    <tbody>
    {% set i=1 %}
    {% for condicion_educativa_alumno in condicion_educativa_alumnos %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ condicion_educativa_alumno.escuela.ccts }}</td>
            <td>{{ condicion_educativa_alumno.numalumnas }}</td>
            <td>{{ condicion_educativa_alumno.numalumnos }}</td>
            <td>{{ condicion_educativa_alumno.grado }}</td>
        </tr>
        {% set i=1+i %}
    {% endfor %}
    </tbody>
</table>