{{ form_start(form,{'attr':{
    'id': form_id|default('escuela_new'),
    'class': 'm-form m-form--state'
}}) }}
<div class="modal-body" id="modal-body">
    <div class="row">
     <div class="col-md-5">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.ccts) }}
                </label>
                <div>
                    {{ form_widget(form.ccts) }}
                    {{ form_errors(form.ccts) }}
                </div>
                <span class="help-block"> Se compone de exactamente 11 caracteres. </span>
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.nombre) }}
                </label>
                <div>
                    {{ form_widget(form.nombre) }}
                    {{ form_errors(form.nombre) }}
                </div>
            </div>
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.tipoensenanza) }}
                </label>
                <div>
                    {{ form_widget(form.tipoensenanza) }}
                    {{ form_errors(form.tipoensenanza) }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_errors(form) }}
{{ form_rest(form) }}
<div class="modal-footer">
    <a class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
    {% if escuela.id is not empty and eliminable is defined and eliminable==true %}
        <a class="btn btn-danger btn-sm  color-white eliminar_escuela"
           data-href="{{ path('escuela_delete', { 'id': escuela.id }) }}"
           data-csrf="{{ csrf_token('delete' ~ escuela.id) }}">
            <i class="flaticon-delete-1"></i> Eliminar
        </a>
    {% endif %}
    <button class="btn btn-sm btn-primary mt-ladda-btn ladda-button" data-style="expand-right" type="submit">
        <i class="flaticon-edit"></i>
        <span class="ladda-label">{{ action |default('Guardar') }}</span>
        <span class="ladda-spinner"></span>
    </button>
</div>
{{ form_end(form) }}
