<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text" style="color: white !important;"><i class="kt-menu__link-bullet flaticon-diagram"></i>Estadística</span></a>
    <div class="kt-menu__submenu  kt-menu__submenu--fixed kt-menu__submenu--left" style="width:1000px">
        <div class="kt-menu__subnav">
            <ul class="kt-menu__content">
                <li class="kt-menu__item ">
                    <h3 class="kt-menu__heading kt-menu__toggle"><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Escuelas & Proyectos</span><i class="kt-menu__ver-arrow la la-angle-right"></i></h3>
                    <ul class="kt-menu__inner">
                        <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('estadistica_plantel_proyecto') }}" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-graphic-2"></i><span class="kt-menu__link-text">Planteles con proyectos</span></a></li>
                        <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('estadistica_escuela_proyectos') }}" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-graphic-2"></i><span class="kt-menu__link-text">Escuelas con proyectos</span></a></li>
                    </ul>
                </li>
                <li class="kt-menu__item ">
                    <h3 class="kt-menu__heading kt-menu__toggle"><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Resumen por servicios</span><i class="kt-menu__ver-arrow la la-angle-right"></i></h3>
                    <ul class="kt-menu__inner">
                        <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('estadistica_plantel_sin_sanitarios') }}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span class="kt-menu__link-text">Planteles sin sanitarios</span></a></li>
                        <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('estadistica_plantel_sin_biblioteca') }}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span class="kt-menu__link-text">Planteles sin bibliotecas</span></a></li>
                        <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('estadistica_plantel_sin_aguapotable') }}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span class="kt-menu__link-text">Planteles sin agua potable</span></a></li>
                        <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('estadistica_plantel_sin_drenaje') }}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span class="kt-menu__link-text">Planteles sin drenaje</span></a></li>
                        <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('estadistica_plantel_sin_electricidad') }}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span class="kt-menu__link-text">Planteles sin energía eléctrica</span></a></li>
                        <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('estadistica_plantel_sin_internet') }}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span class="kt-menu__link-text">Planteles sin internet</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</li>