{% extends 'plantel/template.html.twig'%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendors/custom/datatables/datatables.bundle.css','template') }}"/>
{% endblock %}

{% block plantel_show_header %}
    {{ parent() }}
    <h3 class="kt-subheader__title">Diagnósticos del plantel</h3>
    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
    <a href="{{ path('diagnostico_plantel_new',{'id':plantel.id}) }}" class="btn btn-label-primary btn-bold btn-icon-h kt-margin-l-10 edicion"  data-toggle="m-tooltip" data-skin="dark" data-placement="bottom" data-original-title="Adicionar diagnóstico">
        Nuevo
    </a>
{% endblock plantel_show_header %}

{% block plantel_show_body %}

    <div class="row">
        <div class="col-xl-12">
            <!--begin:: Widgets/Daily Sales-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-widget14">
                    <div class="kt-widget14__header kt-margin-b-30">
                        <h3 class="kt-widget14__title">
                            Listado
                        </h3>
                    </div>
                    <table class="table table-hover" id="diagnostico_entity_table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Identificador</th>
                            <th>Fecha</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set i=1 %}
                        {% for diagnostico in diagnosticos %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ diagnostico.iddiagnosticoplantel }}</td>
                                <td>{{ diagnostico.fecha | date('Y-m-d') }}</td>
                                <td>
                                    <ul class="hidden_element list-inline pull-right">
                                        <li class="list-inline-item"><a class="btn default btn-sm" href="{{ path('diagnostico_plantel_show', {'id': diagnostico.id}) }}"><i class="fa fa-eye"></i>Visualizar</a></li>
                                        <li class="list-inline-item"><a class="btn default btn-sm btn-primary"  href="{{ path('diagnostico_plantel_edit', {'id': diagnostico.id}) }}"><i class="fa fa-edit"></i>Editar</a></li>
                                    </ul>
                                </td>
                            </tr>
                            {% set i=1+i %}
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('vendors/custom/datatables/datatables.bundle.js','template') }}" type="text/javascript"></script>
    <script src="{{ asset('js/entity/diagnostico_plantel.js','app') }}" type="text/javascript"></script>
    <script>
        diagnostico_plantel.index();
    </script>
{% endblock %}